<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ronin博客</title>
</head>
<link href="/static/reception/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/reception/css/common.css"/>
<link href="/static/reception/img/logo0.png" rel="shortcut icon"/>
<script src="/static/reception/plugin/jquery.min.js"></script>
<script src="/static/reception/plugin/bootstrap/js/bootstrap.min.js"></script>

<body>

<!--<div th:replace="reception/header :: common"></div>-->
<div class="w_header" th:fragment="common">
    <div class="container">
        <div class="w_header_top">
            <a href="#" class="w_logo"></a>
            <span class="w_header_nav">
                <ul>
                    <li><a href="" class="active" th:href="@{/}">首页</a></li>
                    <li><a href="article.html" th:href="@{~/article}">文章</a></li>
                    <li><a href="comment.html" th:href="@{/comment}">留言</a></li>
                    <li><a href="about.html" th:href="@{~/about}">关于</a></li>
                </ul>
            </span>
            <div class="w_search">
                <form th:action="@{/article_search}" th:method="get">
                    <div class="w_searchbox">
                        <input type="text" name="keyWord" placeholder="search"/>
                        <button type="submit">搜索</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="w_container">
    <div class="container">
        <div class="row w_main_row">
            <div class="col-lg-9 col-md-9 w_main_left">
                <!--滚动图开始-->
                <div class="panel panel-default">
                    <div id="w_carousel" class="carousel slide w_carousel" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="/static/reception/img/kim-nam-680952-unsplash.jpg" alt="">
                            </div>
                            <div class="item" th:each="banner : ${bannerList}">
                                <img th:src="${banner.bannerUrl}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#w_carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#w_carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

                <div class="panel panel-default contenttop" th:if="${topArticle != null}">
                    <a th:href="@{${'/article_detail'}(articleId = ${topArticle.articleId})}">
                        <strong>博主置顶</strong>
                        <h3 class="title" th:text="${topArticle.articleTitle}">嫁人就嫁程序员</h3>
                        <p class="overView" th:text="${topArticle.articleSummary}">个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中。。。</p>
                    </a>
                </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">最新发布</h3>
                        </div>

                        <div class="panel-body">

                            <!--文章列表开始-->
                            <div class="contentList">

                                <div class="panel panel-default" th:each="newArticles : ${session.newArticles}">
                                    <div class="panel-body">
                                        <h4><a class="title" href="article_detail.html" th:href="@{${'/article_detail'}(articleId = ${newArticles.articleId})}"
                                               th:text="${newArticles.articleTitle}">wfyvv.com</a></h4>
                                        <p>
                                            <a class="label label-default" th:each="tag : ${newArticles.tagList}" th:href="@{${'/article_detail'}(articleId = ${newArticles.articleId})}"
                                               th:text="${tag.tagName}">UUID</a>
                                            <!--<a class="label label-default">java</a>-->
                                        </p>
                                        <p class="overView" th:text="${newArticles.articleSummary}">个人网站正在建设中。。。</p>
                                        <p>
											<span class="count"><i class="glyphicon glyphicon-user"></i>
                                                <a href="#" th:text="${newArticles.user.userName}">admin</a>
                                            </span>
                                            <span class="count"><i class="glyphicon glyphicon-eye-open"></i>
                                                阅读:<span th:text="${newArticles.articleViewCount}">666</span>
                                            </span>
                                            <span class="count"><i class="glyphicon glyphicon-comment"></i>
                                                评论:<span th:text="${newArticles.articleCommentCount}">18</span>
                                            </span>
                                            <span class="count"><i class="glyphicon glyphicon-time"></i>
                                                <span th:text="${#dates.format(newArticles.articleUpdateTime, 'yyyy-MM-dd')}">2019-01-01</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!--文章列表结束-->

                    </div>
                </div>

            </div>

            <!--左侧开始-->
            <div class="col-lg-3 col-md-3 w_main_right">

                <div class="panel panel-default sitetip">
                    <a href="article_detail.html">
                        <strong>博客公告</strong>
                        <h3 class="title" th:text="${notice.noticeTitle}">嫁人就嫁程序员</h3>
                        <p class="overView" th:text="${notice.noticeHtml}">
                            个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中。。。</p>
                    </a>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门标签</h3>
                    </div>
                    <div class="panel-body">
                        <div class="labelList">
                            <a class="label label-default" th:each="tag : ${tagList}" th:href="@{${'/tag_article'}(tagId = ${tag.tagId})}">
                                <span th:text="${tag.tagName}"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最热文章</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled sidebar">
                            <li th:each="hotArticles : ${hotArticles}">
                                <a th:href="@{${'/article_detail'}(articleId = ${hotArticles.articleId})}" th:text="${hotArticles.articleTitle}">排序算法之冒泡排序 － java实现</a>
                                <i class="glyphicon glyphicon-eye-open" style="float: right"
                                   th:text="${hotArticles.articleViewCount}"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">友情链接</h3>
                    </div>
                    <div class="panel-body">
                        <div class="newContent">
                            <ul class="list-unstyled sidebar shiplink">
                                <li th:each="links : ${session.linksList}">
                                    <a href="https://www.baidu.com/" target="_blank" th:text="${links.linkName}"
                                       th:href="@{${links.linkUrl}}">百度</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="reception/footer :: common"></div>

</body>
<script type="text/javascript">
    var $backToTopEle = $('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">^</a>').appendTo($("body")).click(function () {
        $("html, body").animate({scrollTop: 0}, 120);
    });
    var backToTopFun = function () {
        var st = $(document).scrollTop(),
            winh = $(window).height();
        (st > 0) ? $backToTopEle.show() : $backToTopEle.hide();
        /*IE6下的定位*/
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };

    $(function () {
        $(window).on("scroll", backToTopFun);
        backToTopFun();
    });
</script>

</html>