<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ronin.blog.mapper.PageMapper" >
  <resultMap id="BaseResultMap" type="com.ronin.blog.entity.Page" >
    <id column="page_id" property="pageId" jdbcType="INTEGER" />
    <result column="page_key" property="pageKey" jdbcType="VARCHAR" />
    <result column="page_title" property="pageTitle" jdbcType="VARCHAR" />
    <result column="page_create_time" property="pageCreateTime" jdbcType="TIMESTAMP" />
    <result column="page_update_time" property="pageUpdateTime" jdbcType="TIMESTAMP" />
    <result column="page_view_count" property="pageViewCount" jdbcType="INTEGER" />
    <result column="page_comment_count" property="pageCommentCount" jdbcType="INTEGER" />
    <result column="page_status" property="pageStatus" jdbcType="INTEGER" />
    <result column="page_html" property="pageHtml" jdbcType="LONGVARCHAR" />
    <result column="page_content" property="pageContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="pageLine">
    page_id, page_key, page_title, page_create_time, page_update_time, page_view_count,
    page_comment_count, page_status, page_html, page_content
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from page
    where page_id = #{pageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ronin.blog.entity.Page" >
    insert into page (page_id, page_key, page_title, 
      page_create_time, page_update_time, page_view_count, 
      page_comment_count, page_status, page_html, 
      page_content)
    values (#{pageId,jdbcType=INTEGER}, #{pageKey,jdbcType=VARCHAR}, #{pageTitle,jdbcType=VARCHAR}, 
      #{pageCreateTime,jdbcType=TIMESTAMP}, #{pageUpdateTime,jdbcType=TIMESTAMP}, #{pageViewCount,jdbcType=INTEGER}, 
      #{pageCommentCount,jdbcType=INTEGER}, #{pageStatus,jdbcType=INTEGER}, #{pageHtml,jdbcType=LONGVARCHAR}, 
      #{pageContent,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ronin.blog.entity.Page" >
    update page
    set page_key = #{pageKey,jdbcType=VARCHAR},
      page_title = #{pageTitle,jdbcType=VARCHAR},
      page_create_time = #{pageCreateTime,jdbcType=TIMESTAMP},
      page_update_time = #{pageUpdateTime,jdbcType=TIMESTAMP},
      page_view_count = #{pageViewCount,jdbcType=INTEGER},
      page_comment_count = #{pageCommentCount,jdbcType=INTEGER},
      page_status = #{pageStatus,jdbcType=INTEGER},
      page_html = #{pageHtml,jdbcType=LONGVARCHAR},
      page_content = #{pageContent,jdbcType=LONGVARCHAR}
    where page_id = #{pageId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="pageLine"/>
    from page
    where page_id = #{pageId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="pageLine"/>
    from page
  </select>
</mapper>